@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

/* Premium Global Styles */
body {
    background-color: #f0f2f5;
    font-family: 'Inter', sans-serif;
}

